.about {
  background-image: linear-gradient(bisque 5%, teal 75%);
  min-height: 95vh;
}

.about p:last-child {
  margin-bottom: 0;
}

.about-me {
  padding: 3vmax 6vmax;
}

.about-me p {
  color: black;
  font-size: 1.5vmax;
}

.about-me p span {
  font-weight: bold;
}

.photo {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3vmax;
  padding-bottom: 3vmax;
  width: 10%;
  border-radius: 50%;
}
