.About {
  background-color: teal;
  color: bisque;
  min-height: 95vh;
}

.About p:last-child {
  margin-bottom: 0;
}

.App-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 15%;
}
