.contactsList h4 {
  text-shadow: 2px 2px 2px gray;
  color: black;
  font-size: 2vmax;
  padding-top: 1vmax;
  padding-bottom: 1vmax;
}

.contactsList {
  background-image: linear-gradient(bisque 5%, teal 75%);
  list-style: none;
  padding: 2vmax;
  color: black;
  font-size: 1.3vmax;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-media-logo {
  padding-top: 2vmax;
  height: 5vmax;
  margin: 1rem;
}

.contact-icon {
  height: calc(1.6vmax + 4px);
  margin: 0.4rem;
}
