p {
  color: bisque;
  font-size: 2vh;
}

.title1 {
  font-size: 4.5vh;
  margin-top: 2vh;
}

.title2 {
  font-size: 3.5vh;
}

.title3 {
  font-size: 3vh;
}

.app-icon {
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  width: 10vmin;
}

.image-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 7vw 7vw;
  padding: 3vw 3vw;
}

@media (min-width: 600px) {
  .title1 {
    margin-top: 10vh;
  }
  .image-box {
    margin: 0 20vw;
  }
}
