.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  background-color: bisque;
  border-radius: 2vmin;
  height: 50vmin;
  margin: 3vmin;
  color: black;
  font-size: calc(5px + 1vmin);
}

.project-card h3 {
  font-weight: bold;
}

.project-card .project-card-thumb {
  min-height: 40vmin;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.project-card a {
  display: block;
}

@media only screen and (orientation: landscape) {
  .project-card {
    width: 25%;
  }
}
