.projects {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-image: linear-gradient(bisque 5%, teal 35%);
  color: bisque;
  min-height: 95vh;
}

.projects p:last-child {
  margin-bottom: 0;
}
