.projects {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-image: linear-gradient(salmon 10%, teal 30%);
  min-height: 95vh;
  overflow: hidden;
  justify-content: space-evenly;
}

.projects p:last-child {
  margin-bottom: 0;
}
