.app {
  text-align: center;
}

.nav-bar {
  display: flex;
  justify-content: center;
  background-color: bisque;
  height: 4vh;
  display: flex;
  justify-content: center;
  margin-bottom: 1vh;
}

.nav-bar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-bottom: 0;
}

.nav-bar ul li {
  margin: 0 1vmin;
}
